.home-wrapper{
    width:100%;
    display:inline-block;
    
}
.left{
    background: #05161c;
    height:425px;
    width:50%;
    float: left;
}
.right{
    background:#40a7e2;
    height:425px;
    width:50%;
    float: right;
    
}
.logo{
    background-image:url('pm-petmeet.png');
    position: absolute;

    background-repeat: no-repeat;
    background-size: contain;
    height:400px;
    width:300px;
    margin-top: 4em;
    margin-left: 5em;
}
.input-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:5em;
   
}
.input-wrapper + p{
    color:green;
}
.form > input{
    height:3em;
    width:12em;
    border-radius: 5px;
}
div.container {
    border: 2px solid black;
}
    

div.box {
    box-sizing: border-box;
    width: 50%;
    border: 5px solid red;
    float: left;
}
.video{
    padding-left:5em;
    padding-top:.70em;
}
.audio{
    color:black;
    width: 100%;
    height:300px;
    margin-top:6em;
    
}
p + p {
    color:green;
    font-size: 2em;
 }
 #section{
     color:pink;
 }
